.box {
  margin: auto;
  width: 60%;
  background-color: white;
  padding: 10px;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 25px;
  /* box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  box-shadow: rgba(240, 188, 46, 0.4) 5px 5px, rgba(240, 195, 46, 0.3) 10px 10px,
    rgba(240, 204, 46, 0.2) 15px 15px, rgba(240, 179, 46, 0.1) 20px 20px,
    rgba(240, 195, 46, 0.05) 25px 25px; */
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.chart {
  height: 450px;
  overflow: scroll;
  overflow-y: scroll;
}
.header {
  color: rgb(239, 216, 128);
  text-align: center;
  padding-top: 0px;
}
.n {
  margin-top: auto;
  color: rgb(241, 196, 15);
  text-align: center;
  font-size: 60px;
  font-weight: bolder;
  margin-bottom: -24px;
}
